@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1A1A1E;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: #9414FF;
  --color-foreground:#1A1A1E;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  font-family: "ABeeZee", sans-serif;
  color: var(--foreground);
}
